<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="stylesheet" href="/static/css/video.css">
</head>
<body>
<div class="blocktop">

    <div class="name">Impressions</div>

    <a class="back" href="/recommendations">Back to recommendations</a>
    
        <div class="search-box">
            <input class="search-txt" type="text" name=""placeholder= "Type to search your impressions videos">
            <a href="#"></a>
        </div>
</div>

    <div class="video">
        <video controls src="/static/videos/1.mp4"></video>
    </div>
</body>
</html>